@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@theme {
    /* Palette 1 */
    --color-primary: #061e29;
    --color-secondary: #1d546d;
    --color-bg-tertiary: --color-accent: #5f9598;
    --color-neutral: #f3f4f4;

    /* Palette 2 */
    --color-primary: #1b263b;
    --color-secondary: #415a77;
    --color-accent: #778da9;
    --color-neutral: #e0e1dd;

    /* Palette 3 */
    --color-bg-primary: #05090f;
    --color-bg-secondary: #1b263b;
    --color-bg-tertiary: #415a77;
    --color-text-primary: #e0e1dd;
    --color-text-secondary: #778da9;

    --font-outfit: "Outfit", sans-serif;
}
